{% extends 'base.html' %}

{% block content %}

<h1 class="title">
  Vietbot 
</h1>
<h5 class="subtitle">
  Giao diện phát TTS từ bàn phím.
</h5>
    <div class="box">
        <form method="POST" action="/tts">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="text" placeholder="Nhập Text" autofocus="">
                </div>
            </div>
            <button class="btn btn-primary">Speak</button>
        </form>
    </div>
{% endblock %}



