[Unit]
Description=Balena wifi connect service
After=NetworkManager.service
[Service]
Type=simple
ExecStart=/bin/sh /home/pi/start-wifi-connect.sh
Restart=on-failure
SyslogIdentifier=wifi-connect
Type=idle
User=root
[Install]
WantedBy=multi-user.target
